* {
  font-family: "Montserrat", sans-serif
}
.w3-row-padding img {
  margin-bottom: 12px
}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://i.pinimg.com/originals/63/17/7f/63177f7ab8d985d48ce4b6cfb8012d87.jpg');
  border-right: 5px ridge rgba(225, 198, 153, 0.6);
  min-height: 100%;
}
