* {
  font-family: "Montserrat", sans-serif
}
.w3-row-padding img {
  margin-bottom: 12px
}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Folympics.com%2Fen%2Fsports%2Farchery%2F&psig=AOvVaw0-p70eFX7wu3Tz-PU_Gl13&ust=1703077878675000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPi3zLTOm4MDFQAAAAAdAAAAABAm');
  border-right: 5px ridge rgba(225, 198, 153, 0.6);
  min-height: 100%;
}
